/* Importando aqruivo */
@import url('./variables.css');
@import url('./mixins.css');
    
    
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Helvetica';
}

body {
    background-color: var(--body-g-color);
    color: white;
}


a, svg {
    transition: .4s;
}