:root {

    /* Declaração de Cores */
    --text-color: #fff;
    --text-color-secondary: #a6a6a6;
    --body-g-color: #271B31;
    --bg-color: #111;
    --bg-color-secondary: #1d1d1d;

    --gradiente-color: linear-gradient(90deg, (250, 82, 82, 1) 0%, #dd2476 100%);
    --gradiente-2-color: #dd2476;


    /* Declarações de medidas */
    --container-border-radius: 10px;
    --card-border-radius: 5px;
}

/* CLASSE GERAIS REUTILIZAVEIS */
.btn {
    padding: 1rem 1.2rem;
    color: var(--text-color);
    background-color: var(--gradiente-2-color);
    text-decoration: none;
    border-radius: 3rem;
}

/* DECLARACAO DO CSS MIXINS
    ALINHAMENTO CENTRO GERAL
*/
.teste {
    display: flex;
    align-items: center;
    justify-content: center;
}